h5= title
div(style='overflow-y:scroll; height:500px')
  //- for (var i = 0; i < owners.length ; i++) {
  //-  - var owner = owners[i];
  //-  li= owner.name + " : " + owner.sho_code
  //- }
  table
    tbody
      tr
        td.tbl_nayose(colspan='2')= name
      - var n = tblBox.length;
      //- console.log(tblBox);
      - for(i=0; i < n ; i++){
        - var rec = tblBox[i];
        - console.log("sho_nayose:rec=" + rec);
        - var nJu  = rec[0].length;
        - var nKan = rec[1].length;
        - var hrec = rec[1][0];
        - var bk = hrec.kan_code.slice(0,2);
        - var ichiStr = "/images/kasane/kasane"
        tr
          td.tbl_nayose(rowspan="#{nKan}")= rec[0][0]
          td.tbl_nayose(rowspan="#{nJu}")= rec[1][0].bk_lot
            - let str = ichiStr + bk + ".pdf";
            a(href="#{str}" target="_blank") &lt; 位置図 &gt;

        - for(let j=1; j < nJu; j++){
        tr
          td.tbl_nayose= rec[0][j]
        - }
        - for(let j=1; j < nKan; j++){
        tr
          td.tbl_nayose= rec[1][j].bk_lot
            - hrec = rec[1][j];
            - bk = hrec.kan_code.slice(0,2);
            - str = ichiStr + bk + ".pdf";
            a(href="#{str}" target="_blank") &lt; 位置図 &gt;

        - }
      - }
p
a(href="/ygtop.html") 位置図を表示